<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Công Ty</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/company.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="search-header">
      <input type="text" placeholder="Nhập Từ Khóa Công Ty" />
      <select>
        <option>Địa Điểm</option>
        <option>Hà Nội</option>
        <option>Hồ Chí Minh</option>
      </select>
      <button>Tìm</button>
    </div>

    <div class="tabs">
      <button class="active">Công Ty Hàng Đầu</button>
      <button>Công Ty Được Theo Dõi Nhiều</button>
      <button>Công Ty Có Việc Làm Mới Nhất</button>
      <button>Công Ty Đang Chờ Đón Bạn</button>
    </div>

    <section class="section">
      <h2 class="section-title">Công ty có việc làm mới nhất</h2>
      <div class="company-grid">
        {% for company in companies %}
        <div class="company-card">
          <div
            class="company-background"
            style="background-image: url('{{ company.background_image }}');"
          >
            <img
              class="company-logo"
              src="{{ company.logo }}"
              alt="{{ company.name }}"
            />
          </div>
          <div class="company-content">
            <h3>{{ company.name }}</h3>
            <p class="slogan">{{ company.description }}</p>
            <p class="location">{{ company.location }}</p>
            <p class="industry">{{ company.industry }}</p>
            <div class="job-follow-row">
              <span>{{ company.followers }} 👥</span>
              {% if company.jobs_count != "0" %}
              <a
                class="job-link"
                href="/company/{{loop.index-1}}"
                target="_blank"
                >{{ company.jobs_count }} Job →</a
              >
              {% else %}
              <a
                class="job-link"
                href="/company/{{loop.index-1}}"
                target="_blank"
                >Xem chi tiết</a
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <script src="../static/js/company.js"></script>
    <script src="../static/js/dropdownHeader.js"></script>
  </body>
</html>
