<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Chi tiết công ty - LG CNS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/company_details.css') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %}

    <div class="company-banner">
      <img src="{{company_info.banner}}" alt="Company Banner" />
      <div class="company-header">
        <img src="{{company_info.logo}}" class="logo" alt="LG CNS logo" />
        <div class="info">
          <h2>{{company_info.name}}</h2>
          <p>{{company_info.slogan}}</p>
          <span class="job-count">{{ company_info.jobs | length }}</span>
        </div>
        <button class="follow-btn">Theo dõi</button>
      </div>
    </div>

    <div class="container">
      <div class="main-content">
        <div class="tabs">
          <button class="active">Thông tin công ty</button>
          <button>Sản phẩm</button>
          <button>Vị trí tuyển dụng</button>
        </div>

        <section>
          <h3>Về chúng tôi</h3>
          <p>{{ company_info.about_text }}</p>
          <div class="image-row">
            <!-- ddung for -->
            {% for image in company_info.about_images %}

            <img src="{{image}}" />
            {% endfor %}
          </div>
        </section>

        <section>
          <h3>Chế độ đãi ngộ</h3>
          <ul>
            <li>Lương tháng 13 và thưởng hiệu suất cuối năm</li>
            <li>Trợ cấp: Ăn trưa, đi lại, sinh nhật, sinh con...</li>
            <li>Chăm sóc sức khỏe, khám định kỳ</li>
            <li>Teambuilding, happy hour, sinh nhật...</li>
          </ul>
        </section>

        <section>
          <h3>Sản phẩm</h3>
          <div class="products">
            <div class="product-box">
              <strong>Cloud</strong>
              <p>
                Provides optimized cloud services across many business areas.
              </p>
            </div>
            <div class="product-box">
              <strong>AI/Big Data</strong>
              <p>
                Optimal services through big data collection and verified AI
                services.
              </p>
            </div>
          </div>
        </section>

        <section>
          <h3>Vị trí tuyển dụng</h3>
          <div class="job-card">
            <h4>TeamCenter Engineer (React, BMiDE)</h4>
            <p>LG CNS Việt Nam - Hà Nội (In Office)</p>
            <div class="tags">
              <span>Java</span><span>Docker</span><span>React</span>
            </div>
          </div>
          <div class="job-card">
            <h4>IBM Maximo Developer</h4>
            <p>LG CNS Việt Nam - Hà Nội (In Office)</p>
            <div class="tags">
              <span>Java</span><span>Python</span><span>SQL Server</span>
            </div>
          </div>
        </section>
      </div>

      <aside class="sidebar">
        <div class="box">
          <h4>Thông tin chung</h4>
          <p><strong>Lĩnh vực:</strong>{{company_info.field}}</p>
          <p><strong>Quy mô:</strong>{{company_info.company_size}}</p>
          <div class="tags">
            {% for tag in company_info.skills %} {% if tag != "" %}
            <span>{{ tag }}</span>
            {% endif %} {% endfor %}
          </div>
        </div>

        <div class="box">
          <h4>Thông tin liên hệ</h4>
          <p>
            <strong>Website:</strong>
            <a href="{{company_info.website}}">{{company_info.website}}</a>
          </p>
          <p>
            <strong>Địa chỉ:</strong><br />
            {{company_info.address}}
          </p>
        </div>
      </aside>
    </div>
    <script src="../static/js/dropdownHeader.js"></script>
  </body>
</html>
