<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Trang tìm kiếm TopDev Clone</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="text/css"
      href="https://c.topdevvn.com/v4/assets/images/favicon/favicon.ico">
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="search-section">
      <div class="search-container">
        <h1 class="main-title">Tìm kiếm <span id="highlight" class="highlight">PHP</span></h1>
        <!-- Thanh tìm kiếm chính -->
        <form id="search-form" class="search-form">
          <input
            type="text"
            name="query"
            placeholder="Tìm kiếm theo các Kỹ năng, Vị trí, Công ty,..."
            id="search-input"
          />
          <button type="submit">🔍 Tìm kiếm</button>
        </form>

        <!-- Gợi ý từ khóa -->
        <div class="suggestions">
          <span class="suggestion-label">Đề xuất từ khóa:</span>
          <div class="suggestion-buttons">
            {% for keyword in ['Java', 'C++', 'JavaScript', 'UI/UX', 'C#', 'Fresher', 'Python', 'PHP', 'Product Owner'] %}
              <a href="#" class="suggestion-link" data-keyword="{{ keyword }}">{{ keyword }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Nút chức năng khác -->
    <div class="nav-buttons">
      <button onclick="window.location.href='/thongke'">📊 Thống kê dữ liệu</button>
      <button onclick="window.location.href='/jobs'">📋 Danh sách công việc</button>
    </div>
  </body>
  <script src="../static/js/dropdownHeader.js"></script>
  <script src="../static/js/search.js"></script>
</html>
