<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/header.css') }}"
/>

<header class="top-header">
  <div class="header-container">
    <div class="left">
      <a class="logo1" href="\"><img
          src="https://c.topdevvn.com/v4/assets/images/td-logo.png"
          alt="TOPDev Logo"
          class="logo"
        />
      </a>
      <nav>
        <a href="/">Trang Chủ</a>
        <div class="dropdown" onmouseenter="openDropdown(this)" onmouseleave="closeDropdown(this)">
          <a href="#" class="dropdown-toggle">Việc Làm IT</a>
            <div class="dropdown-menu">
              <div class="dropdown-item has-submenu">
                <a href="#">Theo cấp bậc</a>
                <div class="submenu">
                  <a href="#">Intern</a>
                  <a href="#">Fresher</a>
                  <a href="#">Junior</a>
                  <a href="#">Middle</a>
                  <a href="#">Senior</a>
                  <a href="#">Trưởng Nhóm</a>
                  <a href="#">Trưởng phòng</a>
                  <a href="#">All Levels</a>
                </div>
              </div>

              <div class="dropdown-item has-submenu">
                <a href="#">Theo loại hình</a>
                <div class="submenu">
                  <a href="#">In Office</a>
                  <a href="#">Hybrid</a>
                  <a href="#">Remote</a>
                  <a href="#">Oversea</a>
                </div>
              </div>

              <div class="dropdown-item has-submenu">
                <a href="#">Theo địa điểm</a>
                <div class="submenu">
                  <a href="#">Hồ Chí Minh</a>
                  <a href="#">Hà Nội</a>
                  <a href="#">Đà Nẵng</a>
                  <a href="#">Cần Thơ</a>
                  <a href="#">Khác</a>
                </div>
              </div>

              <div class="dropdown-item has-submenu">
                <a href="#">Theo kỹ năng</a>
                <div class="submenu multi-column">
                  <div class="column">
                    <a href="#">JavaScript</a>
                    <a href="#">Java</a>
                    <a href="#">.NET</a>
                    <a href="#">C#</a>
                    <a href="#">PHP</a>
                    <a href="#">Python</a>
                    <a href="#">C++</a>
                    <a href="#">iOS</a>
                    <a href="#">Android</a>
                    <a href="#">Mobile</a>
                  </div>
                  <div class="column">
                    <a href="#">Flutter</a>
                    <a href="#">React Native</a>
                    <a href="#">Tester</a>
                    <a href="#">Product Manager</a>
                    <a href="#">Business Analyst</a>
                    <a href="#">Project Manager</a>
                    <a href="#">System Admin</a>
                    <a href="#">DevOps</a>
                    <a href="#">System Engineer</a>
                    <a href="#">Data Analyst</a>
                  </div>
                  <div class="column">
                    <a href="#">Game</a>
                    <a href="#">Designer</a>
                    <a href="#">Golang</a>
                    <a href="#">AWS</a>
                    <a href="#">Azure</a>
                    <a href="#">Cloud</a>
                    <a href="#">UI/UX</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="/company">Công Ty IT</a>
      </nav>
    </div>

    <div class="right">
      <span class="phone"><i class="phone-icon">📞</i> 028 6273 3496</span>
      <a href="#" class="btn-outlined">Nhà tuyển dụng</a>
      <a href="#" class="btn-filled">Đăng nhập</a>
      <span class="lang-switch">EN | VI</span>
    </div>
  </div>
</header>
